In [ ]:
#List
# Ordered and indexed.
# Allows duplicate elements.
# Elements can be modified (mutable).
# Supports multiple data types.
# Methods: append(), extend(), insert(), remove(), pop(), reverse(), sort() etc.

In [25]:
#list in python
marks=[23,64,37,86,56]
marks

[23, 64, 37, 86, 56]

In [22]:
print(type(marks))

<class 'list'>

In [23]:
len(marks)#return lenght of list

5

In [24]:
mark=sorted(marks) #there is sort of marks but after print marks not dispaly sorted its tempolary marks sort
                    #create another list origanal list 
mark

[23, 37, 56, 64, 86]

In [25]:
marks

[23, 64, 37, 86, 56]

In [26]:
marks.sort()#this method use sort origanal marks list its not tempolary modifies original list
marks

[23, 37, 56, 64, 86]

In [27]:
marks

[23, 37, 56, 64, 86]

In [28]:
marks.sort(reverse=True)#decending order
marks

[86, 64, 56, 37, 23]

In [29]:
marks=[10,20,30,40]
marks

[10, 20, 30, 40]

In [30]:
marks.count(30) #how many time entire no

1

In [31]:
marks.append(50)#add the element
marks

[10, 20, 30, 40, 50]

In [32]:
marks.reverse()#
print(marks)

[50, 40, 30, 20, 10]

In [14]:
marks*3 #repetition of list 3 times

[40, 30, 20, 10, 40, 30, 20, 10, 40, 30, 20, 10]

In [33]:
list1=[10,20,30]
list2=[70,80,90]
list1+list2 #concatenation of two lists that is marge two list

[10, 20, 30, 70, 80, 90]

In [34]:
(list1+list2)*3 #concatenation list return 3 times

[10, 20, 30, 70, 80, 90, 10, 20, 30, 70, 80, 90, 10, 20, 30, 70, 80, 90]

In [24]:
marks=[11,21,31,41,51]
marks

[11, 21, 31, 41, 51]

In [47]:
#Indexing starts with 0
marks[3] #indexing 0,1,2,3=41

41

In [36]:
marks[4]#0,1,2,3,4,=51

51

In [23]:
#slicing
marks[1:4] # start in 1 index and of 4-1 mean 3 index that is 1,2,3

[21, 61, 41]

In [22]:
marks[2:]#start index 2 and end of list that mean len(marks)

[61, 41, 51]

In [21]:
marks[:2]#start indexing in 0 and end of 2

[11, 21]

In [20]:
marks

[11, 21, 61, 41, 51]

In [40]:
#Negative indexing
marks[-1] # negative index start with -1 in last element of list

51

In [41]:
marks[-4]#-1,-2,-3,-4 = 21

21

In [42]:
numbers=[10,20,30,40,50,60,70,80,90]
numbers[::]  #same as number

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [43]:
#[start:Stop:Step]
numbers[1:7:2]  #there is start indexing 1 and stop indexing 7 with in gap 2 number

[20, 40, 60]

In [44]:
#list Comprehension
numbers=[4,7,3,5,9]
newlist=[n**2 for n in numbers] #return sequre root of each no of list
newlist

[16, 49, 9, 25, 81]

In [45]:
newlist2=[n*2 for n in numbers]
newlist2  # each no multiplay by 2

[8, 14, 6, 10, 18]

In [17]:
marks   #recentaly print marks list its disply here

[11, 21, 31, 41, 51]

In [19]:
marks[2]=61  # list are mutable list can change using indexing
marks

[11, 21, 61, 41, 51]

In [ ]:
#Tuple
# Ordered and indexed.
# Allows duplicates.
# Immutable (cannot change elements after creation).
# Supports multiple data types.
# Faster than lists due to immutability.
# Methods: Only count() and index().

In [48]:
#Tuples
tuple=(12,90,50,96,87) #Tuple closed in parenthesies bracket 
tuple      #tuple is immutable it can not be change

(12, 90, 50, 96, 87)

In [ ]:
# Collection of key-value pairs.
# Ordered as of Python 3.7+.
# Keys must be unique.
# Values can be of any type.
# Mutable.
# Methods: keys(), values(), items(), get(), pop(), update(), clear()

In [2]:
#Dictionary(key-value pairs)
mydict={42:'mouse',
       21:'keyboard', #store the key values pairs
       77:'Monitor',
       71:'Earphone',}
mydict

{42: 'mouse', 21: 'keyboard', 77: 'Monitor', 71: 'Earphone'}

In [5]:
mydict[77] #return the corresponding values

'Monitor'

In [6]:
mydict.keys() #return the all key values

dict_keys([42, 21, 77, 71])

In [7]:
mydict.values() #return the all values

dict_values(['mouse', 'keyboard', 'Monitor', 'Earphone'])

In [8]:
mydict.items()

dict_items([(42, 'mouse'), (21, 'keyboard'), (77, 'Monitor'), (71, 'Earphone')])

In [26]:
newdict={'A':'marks',
         'B':'mytuple',
         'C':list(range(25,35)),
         'D':6.17}
newdict

{'A': 'marks',
 'B': 'mytuple',
 'C': [25, 26, 27, 28, 29, 30, 31, 32, 33, 34],
 'D': 6.17}

In [27]:
newdict['A']

'marks'

In [ ]:
#Set
#Set in python well define object
#set is close in curly brackets{}
#set is not get duplicate values
#set not contain order element(unorderd) and (unindexed)
#set is mutable
#Methods: add(), remove(), discard(), clear(), union(), intersection(), difference()

In [33]:
set={10,20,30,40}
set            #set is close in curly brackets{}

{10, 20, 30, 40}

In [31]:
set={2,8,9,20,10,20}
set          #set is not allow duplicate values

{2, 8, 9, 10, 20}

In [34]:
set1={"Nikita",22,"BCS",2025,True}
set1         #set is unorderd

{2025, 22, 'BCS', 'Nikita', True}

In [48]:
#set={ }             #that is there use {} I try to create empty set its not be done its create dictionary
#print(type(set))

In [51]:
harry = set()
print(type(harry)) #This means somewhere earlier in your code

TypeError: 'dict' object is not callable

In [52]:
del set

In [54]:
harry = set() #its create a empty set
print(type(harry))

<class 'set'>

In [55]:
for value in set1:
    print(value) #accese using loop

True
Nikita
22
2025
BCS